<header class="p-3">
  <nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

            <li class="nav-item"><a class="nav-link text-white"  href="{% url 'mailing:index' %}">Главная</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'blog:list' %}">Блог</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'mailing:clients' %}">Клиенты</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'mailing:messages' %}">Сообщения</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'mailing:settings' %}">Рассылки</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'mailing:attempts' %}">Отчет</a></li>
            {% if user.is_superuser or perms.users.сan_block_user %}
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'users:list' %}">Пользователи</a></li>
            {% endif %}
            {% endif %}
          </ul>
          </div>
          </div>
          <div class="text-end">
            {% if user.is_authenticated %}
            <a class="btn btn-dark me-md-2" href="{% url 'users:profile' %}" role="button">Профиль</a>
            <a class="btn btn-primary me-md-2" href="{% url 'users:logout' %}" role="button">Выход</a>
            {% else %}
            <a class="btn btn-primary me-md-2" href="{% url 'users:login' %}" role="button">Войти</a>
            <a class="btn btn-dark" href="{% url 'users:register' %}" role="button">Регистрация</a>
            {% endif %}
          </div>
      </div>
    </div>
  </nav>
</header>